/*!
 * Created by Roland Szecsenyi <roland.sze@gmail.com>
 * This file is part of the INSCALE technical challenge.
 */

/// Colors
/// @group Abstracts
$settings-colors: (
    plain-white: #FFFFFF,
    athens-gray: #F6F6F9,
    geyser: #D6DCE0,
    oslo-gray: #7F8C8D,
    light-box-shadow: rgba(31, 31, 31, .05),
    box-shadow: rgba(31, 31, 31, .17),
    mine-shaft: #333333,
    plain-black: #000000,
    havelock-blue: #4A90E2,
    curious-blue: #3498DB,
    shamrock: #2ECC71,
    buttercup: #F39C12,
    cinnabar: #E74C3C
);
