/*!
 * Created by Roland Szecsenyi <roland.sze@gmail.com>
 * This file is part of the INSCALE technical challenge.
 */

/// Font sizes
/// @group Abstracts
$settings-font-sizes: (
    small: 0.75rem,
    medium: 0.875rem,
    base: 1rem,
    large: 1.125rem,
    extra-large: 1.25rem
);
